html {
  font-size: 16px;
  font-family: Helvetica;
  width: 100%;
}

a {
  text-decoration-line: none;
  color: inherit;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 64px;
  width: 100%;
}

header nav {
  display: flex;
  font-size: 1.1rem;
  width: auto;
  justify-content: flex-end;
  margin-right: 24px;
}

header nav.desktop {
  width: 100%;
}

header nav span:hover {
  text-shadow: 2px 2px 5px grey;
}

header nav.mobile {
  width: auto;
  margin-right: 0px;
}

header img {
  height: 100%;
  margin-left: 24px;
}

header h1 {
  font-size: 1.75rem;
  color: dimgrey;
  font-weight: 500;
}

.menu {
  margin-left: 16px;
}

header h1 span {
  color: lightgrey;
}

header nav .login img,
header nav .online img,
header nav .on-campus img{
  display: none;
}

@media only screen and (max-width: 540px), (max-device-width: 540px) {
  header h1,
  header nav.desktop {
    display: none;
  }

  header nav.mobile {
    display: flex;
    width: 100%;
    height: 80%;
    margin-right: 0px;
    justify-content: space-around;
  }

  header nav img.logo,
  header nav .login img,
  header nav .online img,
  header nav .campus img {
    display: flex;
    margin-right: 24px;
    flex-basis: 57px;
    flex: 1 1 0;
  }


  header {
    justify-content: space-around;
  }
}

/*Banner*/
.banner {
  background-color: lightgrey;
  color: dimgrey;
  display: flex;
  width: 100%;
}

.banner img {
  width: 60%;
  height: 100%;
  padding: 32px 24px;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 24px;
  font-weight: bold;
}

.banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 24px;
}

.banner p {
  margin-bottom: 24px;
  font-size: 1.5rem;
}

.banner .button {
  color: white;
  background: dimgrey;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 1.2rem;
}

.banner .button:hover {
  color: lightgrey;
  font-weight: bold;
  box-shadow: 5px 5px 2px grey;
}

@media only screen and (max-width: 540px), (max-device-width: 540px) {
  .banner {
      flex-direction: column;
  }

  .banner img {
    width: 100%;
    padding: 0;
  }

  .banner .content {
    margin: 32px 16px;
  }


  .banner .content p {
    margin-top: 32px;
    margin-bottom: 24px;
    width: 100%;
  }

  .banner h1 {
    width: 100%;
    margin-bottom: 0px;
  }
}

/*Information*/

.information {
  display: flex;
  width: 100%;
}

.information .main {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding-right: 24px;
  padding-bottom: 32px;
}

.information .main img {
  width: 100%;
  margin: 32px 24px;
}

.information .main h1 {
  font-size: 2.5rem;
  margin-bottom: 24px;
  margin-top: 32px;
  margin-left: 24px;
  font-weight: bold;
  color: dimgrey;
}

.information .main p {
  font-size: 1.1rem;
  margin-bottom: 24px;
  margin-left: 24px;
  font-style: italic;
  color: lightgrey;
}

.information .main span {
  font-size: 1rem;
  color: dimgrey;
  margin-left: 24px;
}

.information .sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 16px;
  border-left: 1px solid lightgrey;
  margin-left: 24px;
}

.information img.desktop{
  width: 35%;
  height: 100%;
  margin: 16px;
}

.information img.mobile,
.information .sidebar .orientation .mobile,
.information .sidebar .campus .mobile,
.information .sidebar .guest-lecture .mobile {
  display: none;
}

.information .orientation,
.information .campus,
.information .guest-lecture {
  display: flex;
  border-bottom: 1px solid lightgrey;
}

.information .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information .description h1 {
  color: dimgrey;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.information .description p {
  font-size: 1rem;
  margin-bottom: 8px;
  color: darkgrey;
}

.information .description span {
  font-size: 1rem;
  color: blue;
}

.information .description span:hover {
  text-decoration-line: underline;
}

.information .guest-lecture {
  background-color: lightgrey;
}

@media only screen and (max-width: 540px), (max-device-width: 540px) {

  .information {
    margin-bottom: 32px;
  }

  .information .main {
    display: none;
  }

  .information .sidebar {
    margin-left: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
  }

  .information img.desktop{
    display: none;
  }

  .information img.mobile {
    display: flex;
    margin: 16px;
    max-width: 576px;
    width: 100%;
    max-height: 100%;
  }

  .information .orientation,
  .information .campus,
  .information .guest-lecture {
    flex-direction: column;
    max-width: 100%;
    border: 0px;
    background-color: white;
  }

  .information .sidebar .orientation .mobile {
    display: flex;
    background-image: url("../images/information-orientation-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 30rem;
    min-height: 15rem;
    margin: 16px;
    color: transparent;
  }

  .information .sidebar .campus .mobile {
    display: flex;
    background-image: url("../images/information-campus-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 30rem;
    min-height: 15rem;
    margin: 16px;
    color: transparent;
  }

  .information .sidebar .guest-lecture .mobile {
    display: flex;
    background-image: url("../images/information-guest-lecture-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 30rem;
    min-height: 15rem;
    margin: 16px;
    color: transparent;
  }

  .information .description {
    margin-left: 32px;
  }

  .information .description h1 {
    margin-bottom: 16px;
    font-size: 2rem;
  }

  .information .description p {
    margin-bottom: 16px;
    font-size: 1.5rem;
  }

  .information .description span {
    font-size: 1.5rem;
  }

  .information .sidebar .orientation,
  .information .sidebar .campus {
    margin-bottom: 48px;
  }
}

/*Course*/

.course {
  background-color: lightgrey;
  width: 100%;
  padding-bottom: 16px;
}

.course .container {
  margin: 16px 56px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.course h1 {
  font-size: 2.5rem;
  padding-top: 32px;
  font-weight: bold;
  color: dimgrey;
  text-align: center;
}

.course .software,
.course .computerart,
.course .design,
.course .data,
.course .business,
.course .marketing {
  max-width: 29%;
  margin: 16px;
  background-color: white;
}

.course .container img {
  width: 100%;
}

.course .container h2 {
  color: dimgrey;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 16px;
}

.course .container p {
  font-size: 1.1rem;
  margin-bottom: 8px;
  margin-left: 16px;
  color: darkgrey;
}

.course .container p.margin {
  margin-bottom: 24px;
}

@media only screen and (max-width: 540px), (max-device-width: 540px) {
  .course {
    background-color: inherit;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .course h1 {
    margin-bottom: 12px;
  }

  .course .container {
    margin: 0px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
  }

  .course .container img,
  .course .container p {
    display: none;
  }

  .course .software,
  .course .computerart,
  .course .design,
  .course .data,
  .course .business,
  .course .marketing {
    background-color: darkgrey;
    color: white;
    min-width: 100%;
    margin: 4px 0px;
  }

  .course .container h2 {
    margin: 16px auto 16px 16px;
  }
}

/*Thesis*/

.thesis {
  background-color: white;
  width: 100%;
}

.thesis h1 {
  font-size: 2.5rem;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: bold;
  color: dimgrey;
  text-align: center;
}

.thesis .container {
  display: flex;
}

.thesis .main {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.thesis video {
  width: 100%;
  margin-bottom: 24px;
  margin-left: 24px;
}

.thesis h2 {
  color: dimgrey;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 8px;
  margin-left: 16px;
}

.thesis p {
  font-size: 1.1rem;
  margin-bottom: 32px;
  margin-left: 16px;
  font-style: italic;
  color: darkgrey;
}

.thesis .sidebar {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding-top: 16px;
  padding-left: 48px;
}

.thesis .sidebar .fisma,
.thesis .sidebar .now {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.thesis .sidebar .fisma {
  background-color: lightgrey;
}

.thesis .sidebar .fisma img,
.thesis .sidebar .now img {
  width: 35%;
  height: 100%;
}

.thesis .sidebar .fisma p,
.thesis .sidebar .now p {
  font-style: normal;
  margin-bottom: auto;
}

.thesis .description {
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 540px), (max-device-width: 540px) {
  .thesis h1 {
    padding-bottom: 16px;
  }

  .thesis .main h2,
  .thesis .main p,
  .thesis .sidebar {
    display: none;
  }

  .thesis .main {
    min-width: 100%;
  }

  .thesis video {
    margin: 0px 0px 24px 0px;
    width: 100%;
  }

}

/*Footer*/
footer {
  border-top: 1px solid lightgrey;
  padding: 16px 24px;
  color: darkgrey;
  display: flex;
}

footer p {
  width: 50%;
}

footer nav{
  width: 50%;
  text-align: right;
}

footer nav span {
  margin-left: 16px;
}

@media only screen (max-width: 540px), (max-device-width: 540px) {
  footer {
    padding: 16px;
  }

  footer p {
    width: 100%;
  }

  footer nav {
    display: none;
  }
}
