/*Fonts*/
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v11/-iqwlckIhsmvkx0N6rwPmhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v11/BYPM-GE291ZjIXBWrtCweteM9fzAXBk846EtUMhet0E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v11/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/vPcynSL0qHq_6dX7lKVByXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*General*/
html {
  font-size: 16px;
  font-family: "Montserrat", serif;
  width: 100%;
}

a {
  text-decoration-line: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
}

.site {
  position: relative;
  top: 64px;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 5;
}

header nav {
  display: flex;
  font-size: 1.1rem;
  width: auto;
  justify-content: flex-end;
  margin-right: 24px;
}

header nav.desktop {
  width: 100%;
}

header nav span {
  transition: text-shadow 400ms ease-out 40ms;
}

header nav span:hover {
  text-shadow: 2px 2px 5px rgb(207, 220, 234);
  font-family: "Roboto", sans-serif;
}

header nav.mobile {
  width: auto;
  margin-right: 0px;
}

header img {
  height: 100%;
  margin-left: 24px;
  margin-right: 1px;
}

header h1 {
  font-size: 1.75rem;
  color: black;
  font-weight: 500;
}

.menu {
  margin-left: 16px;
}

header h1 span {
  color: rgb(117, 179, 244);
}

header nav .login img,
header nav .online img,
header nav .on-campus img{
  display: none;
}

@media only screen and (max-width: 540px), (max-device-width: 540px) {
  header h1,
  header nav.desktop {
    display: none;
  }

  header nav.mobile {
    display: flex;
    width: 100%;
    height: 80%;
    margin-right: 0px;
    justify-content: space-around;
  }

  header nav img,
  header nav .login img,
  header nav .online img,
  header nav .campus img {
    display: flex;
    margin-right: 24px;
    flex-basis: 57px;
    flex: 1 1 0;
  }

  header {
    justify-content: space-around;
  }
}

/*Banner*/
.banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30rem;
  color: black;
  display: flex;
  width: 100%;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 24px;
  font-weight: bold;
}

.banner .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.5);
  width: 100%;
  margin: auto 16px 16px 16px;
  padding-bottom: 16px;
  height: 10rem;
  text-align: center;
}

.banner p {
  margin-bottom: 24px;
  font-size: 1.5rem;
}

.banner .button {
  color: rgb(207, 220, 234);
  background: black;
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 1.2rem;
  transition: all 50ms ease-in 50ms;
}

.banner .button:hover {
  color: rgb(153, 184, 216);
  font-weight: bold;
  box-shadow: 5px 5px 2px grey;
}

@media only screen and (max-width: 540px), (max-device-width: 540px) {
  .banner {
    flex-direction: column;
    height: 20rem;
  }


  .banner .content {
    margin: auto 0px 0px 0px;
    height: 10rem;
  }

  .banner .content p {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    width: 100%;
    font-size: 1.2rem;
  }

  .banner h1 {
    width: 100%;
    margin-bottom: 0px;
    margin-left: 16px;
    font-size: 2rem;
    padding-top: 8px;
  }
}

/*Information*/

.information {
  display: flex;
  width: 100%;
}

.information .main {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding-right: 24px;
  padding-bottom: 32px;
}

.information .main img {
  width: 100%;
  margin: 32px 24px;
}

.information .main h1 {
  font-size: 2.5rem;
  margin-bottom: 24px;
  margin-top: 32px;
  margin-left: 24px;
  font-weight: bold;
  color: black;
}

.information .main p {
  font-size: 1.1rem;
  margin-bottom: 24px;
  margin-left: 24px;
  font-style: italic;
  color: rgb(153, 184, 216);
  font-family: "Roboto", sans-serif;
}

.information .main span {
  font-size: 1rem;
  color: black;
  margin-left: 24px;
}

.information .sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 16px;
  border-left: 1px solid rgb(207, 220, 234);
  margin-left: 24px;
}

.information img.desktop{
  width: 35%;
  height: 100%;
  margin: 16px;
}

.information img.mobile,
.information .sidebar .orientation .mobile,
.information .sidebar .campus .mobile,
.information .sidebar .guest-lecture .mobile {
  display: none;
}

.information .orientation,
.information .campus,
.information .guest-lecture {
  display: flex;
  border-bottom: 1px solid rgb(207, 220, 234);
  padding-bottom: 16px;
  transition: all 400ms linear 50ms;
}

.information .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information .description h1 {
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.information .description p {
  font-size: 1rem;
  margin-bottom: 8px;
  color: darkgrey;
}

.information .description span {
  font-size: 1rem;
  color: rgb(123, 164, 209);
}

.information .description span:hover {
  text-decoration-line: underline;
}

.information .orientation:hover,
.information .campus:hover,
.information .guest-lecture:hover {
  background-color: rgb(207, 220, 234);
}


@media only screen and (max-width: 540px), (max-device-width: 540px) {

  .information {
    margin-bottom: 32px;
  }

  .information .main {
    display: none;
  }

  .information .sidebar {
    margin-left: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
  }

  .information img.desktop{
    display: none;
  }

  .information img.mobile {
    display: flex;
    margin: 16px;
    max-width: 576px;
    width: 100%;
    max-height: 100%;
  }

  .information .orientation,
  .information .campus,
  .information .guest-lecture {
    flex-direction: column;
    max-width: 100%;
    border: 0px;
    background-color: white;
  }

  .information .sidebar .orientation .mobile {
    display: flex;
    background-image: url("../images/information-orientation-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 30rem;
    min-height: 15rem;
    margin: 16px;
    color: transparent;
  }

  .information .sidebar .campus .mobile {
    display: flex;
    background-image: url("../images/information-campus-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 30rem;
    min-height: 15rem;
    margin: 16px;
    color: transparent;
  }

  .information .sidebar .guest-lecture .mobile {
    display: flex;
    background-image: url("../images/information-guest-lecture-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 30rem;
    min-height: 15rem;
    margin: 16px;
    color: transparent;
  }

  .information .description {
    margin-left: 32px;
  }

  .information .description h1 {
    margin-bottom: 16px;
    font-size: 2rem;
  }

  .information .description p {
    margin-bottom: 16px;
    font-size: 1.5rem;
  }

  .information .description span {
    font-size: 1.5rem;
  }
}

/*Course*/

.course {
  background-color: rgb(207, 220, 234);
  width: 100%;
  padding-bottom: 16px;
}

.course .container {
  margin: 16px 56px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.course h1 {
  font-size: 2.5rem;
  padding-top: 32px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.course .container .mobile {
  display: none;
}

.course .software,
.course .computerart,
.course .design,
.course .data,
.course .business,
.course .marketing {
  max-width: 29%;
  margin: 16px;
  background-color: white;
}

.course .software .content {
  background-image: url("../images/course-software.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 7rem;
  padding: 16px;
}

.course .computerart .content {
  background-image: url("../images/course-computer-art.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 7rem;
  padding: 16px;
}

.course .design .content {
  background-image: url("../images/course-design.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 7rem;
  padding: 16px;
}

.course .data .content {
  background-image: url("../images/course-data.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 7rem;
  padding: 16px;
}

.course .business .content {
  background-image: url("../images/course-business.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 7rem;
  padding: 16px;
}

.course .marketing .content {
  background-image: url("../images/course-marketing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 7rem;
  padding: 16px;
}

.course .software div.courses:hover,
.course .computerart div.courses:hover,
.course .design div.courses:hover,
.course .data div.courses:hover,
.course .business div.courses:hover,
.course .marketing div.courses:hover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.course .software div.courses span:hover,
.course .computerart div.courses span:hover,
.course .design div.courses span:hover,
.course .data div.courses span:hover,
.course .business div.courses span:hover,
.course .marketing div.courses span:hover {
  color: rgb(117, 179, 244);
  padding-top: 8px;
}

.course .software div.courses,
.course .computerart div.courses,
.course .design div.courses,
.course .data div.courses,
.course .business div.courses,
.course .marketing div.courses,
.course .software div.courses span,
.course .computerart div.courses span,
.course .design div.courses span,
.course .data div.courses span,
.course .business div.courses span,
.course .marketing div.courses span {
  transition: all 500ms linear 50ms;
}

.course .software {
  height: 100%;
}


.course .container h2 {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 16px;
}

.course .container span {
  font-size: 1.1rem;
  color: transparent;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.course .container span.margin {
  margin-bottom: 24px;
}


@media only screen and (max-width: 540px), (max-device-width: 540px) {
  .course {
    background-color: inherit;
    border-top: 1px solid rgb(207, 220, 234);
    border-bottom: 1px solid rgb(207, 220, 234);
  }

  .course h1 {
    margin-bottom: 12px;
  }

  .course .container h2 {
    font-size: 1.5rem;
    height: 3.5rem;
  }

  .course .container {
    margin: 0px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
  }

  .course .container span {
    display: none;
  }

  .course .software .content,
  .course .computerart .content,
  .course .design .content,
  .course .data .content,
  .course .business .content,
  .course .marketing  .content {
    background-image: none;
  }

  .course .software,
  .course .computerart,
  .course .design,
  .course .data,
  .course .business,
  .course .marketing {
    display: flex;
    background-color: darkgrey;
    color: white;
    min-width: 100%;
    margin: 4px 0px;
    height: 3.5rem;
  }

  .course .container h2 {
    margin: 16px auto 16px 16px;
    transition: text-shadow 400ms ease-out 40ms;
  }

  .course .container .mobile {
    display: flex;
    width: 5%;
    height: 100%;
    margin:0px 16px 0px 0px;
  }


  .course .container h2:hover{
    text-shadow: 2px 2px 5px rgb(207, 220, 234);
  }

}

/*Thesis*/

.thesis {
  background-color: white;
  width: 100%;
}

.thesis h1 {
  font-size: 2.5rem;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.thesis .container {
  display: flex;
}

.thesis .main {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.thesis video {
  width: 100%;
  margin-bottom: 24px;
  margin-left: 24px;
}

.thesis h2 {
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 8px;
  margin-left: 16px;
}

.thesis p {
  font-size: 1.1rem;
  margin-bottom: 32px;
  margin-left: 16px;
  font-style: italic;
  color: rgb(153, 184, 216);
  font-family: "Roboto", sans-serif;
}

.thesis .sidebar p {
  color: darkgrey;
}

.thesis .sidebar {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding-top: 16px;
  padding-left: 48px;
}

.thesis .sidebar .fisma,
.thesis .sidebar .now {
  display: flex;
  flex-direction: row;
  padding: 16px;
  transition: all 400ms linear 50ms;
}

.thesis .sidebar .fisma:hover,
.thesis .sidebar .now:hover {
  background-color: rgb(207, 220, 234);
}

.thesis .sidebar .fisma img,
.thesis .sidebar .now img {
  width: 35%;
  height: 100%;
}

.thesis .sidebar .fisma p,
.thesis .sidebar .now p {
  font-style: normal;
  margin-bottom: auto;
  font-family: "Roboto", sans-serif;
}

.thesis .description {
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 540px), (max-device-width: 540px) {
  .thesis h1 {
    padding-bottom: 16px;
  }

  .thesis .main h2,
  .thesis .main p,
  .thesis .sidebar {
    display: none;
  }

  .thesis .main {
    min-width: 100%;
  }

  .thesis video {
    margin: 0px 0px 24px 0px;
    width: 100%;
  }

}

/*Footer*/
footer {
  border-top: 1px solid rgb(207, 220, 234);
  padding: 16px 24px;
  color: darkgrey;
  display: flex;
}

footer p {
  width: 50%;
  font-family: "Roboto", sans-serif;
}

footer nav{
  width: 50%;
  text-align: right;
}

footer nav span {
  margin-left: 16px;
}

@media only screen (max-width: 540px), (max-device-width: 540px) {
  footer {
    padding: 16px;
  }

  footer p {
    width: 100%;
  }

  footer nav {
    display: none;
  }
}
